# Core utilities
python-dotenv==1.0.1
pandas==2.2.2

# Database connectors
mysql-connector-python==9.0.0
SQLAlchemy==2.0.30
PyMySQL==1.1.0

# Optional for the future Flask app (leave in for now)
Flask==3.0.3
Flask-Cors==4.0.1

# Used for type hints and linting
mypy==1.10.0
black==24.4.2
