{% extends "base.html" %}
{% block content %}
<h2 class="mb-4">Login</h2>

<form method="POST" class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Username or Email</label>
        <input type="text" name="username_or_email" class="form-control" required>
    </div>

    <div class="col-md-6">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</form>
{% endblock %}